@font-face {
	font-family: "Proxima Nova";
	src: url(../fonts/ProximaNova.ttf);
}

@font-face {
	font-family: "Uni-Sans";
	src: url(../fonts/UniSansRegular.ttf);
}

@font-face {
	font-family: "Ubuntu";
	src: url(../fonts/Ubuntu-Light.ttf);
}